<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/careerTest/careerTestDefault}">
<html lang="ko">
<div layout:fragment="content">
<body>
<main>
    <form id="survey" th:object="${consultant}" method="post" th:action="@{/consultant/{id}/test/career/{testId}/fourth (id=${consultant.id} , testId=${testId})}">
        <div class="form-group">
            <p th:text=" '9. '+${questions.get(8)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score9}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score9}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score9}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score9}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score9}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'10. '+${questions.get(9)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score10}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score10}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score10}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score10}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score10}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'11. '+${questions.get(10)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score11}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score11}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score11}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score11}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score11}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'12. '+${questions.get(11)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score12}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score12}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score12}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score12}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score12}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'13. '+${questions.get(12)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score13}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score13}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score13}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score13}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score13}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'14. '+${questions.get(13)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score14}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score14}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score14}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score14}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score14}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'15. '+${questions.get(14)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score15}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score15}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score15}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score15}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score15}" value=5>
                5</label>
            ----> 매우 그렇다

            <p th:text="'16. '+${questions.get(15)}"></p>
            전혀 그렇지 않다 <----
            <label> <input type="radio" class="radio-btn"  th:field="${form.score16}"
                           value=1> 1</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score16}"
                           value=2>
                2 </label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score16}"
                           value=3>
                3</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score16}" value=4>
                4</label>
            <label> <input type="radio" class="radio-btn" th:field="${form.score16}" value=5>
                5</label>
            ----> 매우 그렇다
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="submit-button" >
                다음으로 (2/10)
            </button>
        </div>
    </form>
</main>
</body>
</div>
</html>