<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/careerTest/careerTestDefault}">
<html lang="ko">
<div layout:fragment="content">
    <body>
    <main>
        <form id="survey" th:object="${consultant}" method="post"
              th:action="@{/consultant/{id}/career-test/{testId}/2 (id=${consultant.id} , testId=${testId})}">
            <div class="form-group" id="questionGroup1">
                <p th:text="'1. ' + ${questions.get(0)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score1}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score1}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score1}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score1}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score1}" value=5>
                    5</label>
                ----> 매우 그렇다
                <p th:text="'2. ' + ${questions.get(1)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score2}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score2}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score2}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score2}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score2}" value=5>
                    5</label>
                ----> 매우 그렇다

                <p th:text="'3. ' +${questions.get(2)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score3}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score3}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score3}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score3}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score3}" value=5>
                    5</label>
                ----> 매우 그렇다
                <p th:text="'4. ' +${questions.get(3)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score4}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score4}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score4}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score4}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score4}" value=5>
                    5</label>
                ----> 매우 그렇다

                <p th:text="'5. ' +${questions.get(4)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score5}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score5}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score5}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score5}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score5}" value=5>
                    5</label>
                ----> 매우 그렇다

                <p th:text="'6. ' +${questions.get(5)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score6}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score6}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score6}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score6}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score6}" value=5>
                    5</label>
                ----> 매우 그렇다

                <p th:text="'7. ' +${questions.get(6)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score7}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score7}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score7}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score7}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score7}" value=5>
                    5</label>
                ----> 매우 그렇다

                <p th:text="'8. ' +${questions.get(7)}"></p>
                전혀 그렇지 않다 <----
                <label> <input type="radio" class="radio-btn" th:field="${form.score8}"
                               value=1> 1</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score8}"
                               value=2>
                    2 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score8}"
                               value=3>
                    3</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score8}" value=4>
                    4</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.score8}" value=5>
                    5</label>
                ----> 매우 그렇다
                <div class="form-group" id="nextButton1">
                    <button type="submit" class="submit-button">
                        다음으로
                    </button>
                </div>
            </div>
        </form>
    </main>
    </body>
</div>
</html>