<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/careerTest/careerTestDefault}">
<html lang="ko">
<div layout:fragment="content">
    <body>
    <main>
        <form id="survey" th:object="${consultant}" method="post"
              th:action="@{/consultant/{id}/career-test/{testId}/1 (id=${consultant.id} , testId=${testId})}">
            <div class="form-group">
                <h2>당신의 현재 경력 등고선 위치는 어디인가요?</h2>
                <img src="/assets/img/career_contour_line.jpg" alt="careerLocation">
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}"
                               value="A">
                    A - 입직 5년 전후 경력, 초급 사원 ~ 초급 관리자
                </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}"
                               value="B">
                    B – 근무한 지 10년 이상, 과장, 차장 등 중간 매니저</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}"
                               value="C">
                    C – 부장, 임원급, 근무년 수 15년 이상, 책임자 지위</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}" value="D">
                    D – 변화 선택 직면, 내적 / 외적 동기로 전직 필요</label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}" value="E">
                    E – 정년까지 변동 없음. 임금피크제, 촉탁 근무 등 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}" value="F">
                    F – 새로운 곳에 전직을 한 상태, 새롭게 출발함 </label>
                <label> <input type="radio" class="radio-btn" th:field="${form.careerLocation}" value="T">
                    T – 이미 퇴직함, 현재 속한 조직이 없는 상태임</label>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="submit-button">
                    다음으로
                </button>
            </div>
        </form>
    </main>
    </body>
</div>
</html>