<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>리멤버 상담센터</title>
</head>
<body>
<main>
  <form id="survey" method="post" th:action="@{/consultant/{id}/test/mrAnderson/{testId}/test4 (id=${id} , testId=${testId})}">
    <h2>직무영역</h2>
    <div class="form-group">
      <p th:text="'17. '+${questions.get(16)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score17}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score17}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score17}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score17}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score17}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <p th:text="'18. '+${questions.get(17)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score18}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score18}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score18}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score18}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score18}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <p th:text="'19. '+${questions.get(18)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score19}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score19}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score19}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score19}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score19}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>

    <div class="form-group">
      <p th:text="'20. '+${questions.get(19)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score20}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score20}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score20}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score20}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score20}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <p th:text="'21. '+${questions.get(20)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score21}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score21}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score21}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score21}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score21}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <p th:text="'22. '+${questions.get(21)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score22}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score22}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score22}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score22}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score22}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>

    <div class="form-group">
      <p th:text="'23. '+${questions.get(22)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score23}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score23}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score23}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score23}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score23}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>

    <div class="form-group">
      <p th:text="'24. '+${questions.get(23)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score24}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score24}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score24}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score24}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score24}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <button type="submit" id="submit" class="submit-button" >
        다음으로 (3/6)
      </button>
    </div>
  </form>
</main>
<script>
  function validateForm() {
    const form = document.getElementById("survey");
    const radioGroups = form.querySelectorAll('input[type="radio"]');
    let isAllAnswered = true;

    radioGroups.forEach((radio) => {
      const groupName = radio.getAttribute("name");
      const group = form.querySelectorAll(`input[name="${groupName}"]`);
      let isChecked = false;

      group.forEach((radio) => {
        if (radio.checked) {
          isChecked = true;
        }
      });

      if (!isChecked) {
        isAllAnswered = false;
      }
    });

    return isAllAnswered;
  }
  document.getElementById("survey").addEventListener("submit", function (event) {
    if (!validateForm()) {
      event.preventDefault(); // Prevent form submission if not all questions are answered
      alert("모든 문항에 답을 해주세요");
    }
  });
</script>
</body>
</html>