<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>리멤버 상담센터</title>
</head>
<body>
<main>
  <form id="survey" method="post" th:action="@{/consultant/{id}/test/mrAnderson/{testId}/test3 (id=${id} , testId=${testId})}">
    <h2>관계 영역</h2>
    <div class="form-group">
      <p th:text=" '9. '+${questions.get(8)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score9}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score9}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score9}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score9}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score9}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'10. '+${questions.get(9)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score10}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score10}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score10}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score10}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score10}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'11. '+${questions.get(10)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score11}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score11}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score11}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score11}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score11}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'12. '+${questions.get(11)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score12}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score12}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score12}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score12}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score12}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'13. '+${questions.get(12)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score13}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score13}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score13}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score13}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score13}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'14. '+${questions.get(13)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score14}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score14}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score14}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score14}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score14}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'15. '+${questions.get(14)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score15}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score15}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score15}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score15}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score15}" value=5>
        4</label>
      ----> 매우 그렇다

      <p th:text="'16. '+${questions.get(15)}"></p>
      전혀 그렇지 않다 <----
      <label> <input type="radio" class="radio-btn"  th:field="${form.score16}"
                     value=1> 0</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score16}"
                     value=2>
        1 </label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score16}"
                     value=3>
        2</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score16}" value=4>
        3</label>
      <label> <input type="radio" class="radio-btn" th:field="${form.score16}" value=5>
        4</label>
      ----> 매우 그렇다
    </div>
    <div class="form-group">
      <button type="submit" id="submit" class="submit-button" >
        다음으로 (2/6)
      </button>
    </div>
  </form>
</main>
<div th:replace="fragments/anderson/script :: scriptFragment"></div>
</body>
</html>